{% extends 'base.html.twig' %}

{% block title %}Films{% endblock %}

{% block body %}

<div class="notfound">

{% if search is empty %}

<h1><br><br> No results found... </h1>

{% else %}

<h1><br><br> No results found for {{search}}... </h1>

{% endif %}


<img src="https://media.giphy.com/media/3ohzdOTQloNHvuDFGE/giphy.gif" alt="animated">

</div>

{% endblock %}